body {
    background-color: white;
    margin: 0px 0px;
    width: 100vw;
    height: 100vh;
    
    
}
.all {
    width: 100vw;
}
.header1 {    
  position: sticky; 
  top: 0; 
}

.tabl {
    display: grid;
    grid-template-columns: 160px 90px 90px
    120px 100px 130px 80px 140px 100px;
    align-items: center;
    color:white;
    background-color: black;
    grid-column-gap:10px ;

}
.tabl a {
 color: white;
 text-decoration: none;
 
} 
.foot a {
    color: white;
    text-decoration: none;  
}
a:hover {
    color: rgb(185, 185, 230);
    text-decoration: none;
}
.navse a:hover {
    color: rgb(185, 185, 230);
    text-decoration: none;
}
.aksii , .wont50 a:hover {
    color: rgb(185, 185, 230);
    text-decoration: none;
}
h1 p {
    text-align: center;
}
.foto  a {
    color: black;
    text-decoration: none;
} 
.navse , .aksii , .navse  a {
    color: black;
    text-decoration: none;
}
.aksii a {
    color: black;
    text-decoration: none;  
}
.wont50 a {
    color: black;
    text-decoration: none;  
}
h2 p {
    text-align: center;
}
.cllas {
    display: flex;
    align-content: center;
    height: 50px;
    /*justify-content: center;*/

    
} 
.qwe {
    width: 350px;
    text-align: center;
    font-size: 20px;
}
.qwe1 {
    width: 350px;
    text-align: center;
    font-size: 20px;
}
.qwe2 {
    width: 350px;
    text-align: center;
    font-size: 20px;
}
.aksii {
    display: flex;
    
}
.aksii1 ,.aksii2 {
    margin-left: 0px;
} 
.foto {
    display: flex;
    margin-bottom: 80px;
} 
.foto p {
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    top: -20px;    
}
.aksii p {
    margin-left: 30px;
}
.navse {
    display: flex;
   

} 
.navse1 {
    margin-left: 50px;
    
} 
.navse2 {
    margin-left: 50px;
} 
.navse3 {
    margin-left: 20px;
}    
.navse img:hover{
  transform: scale(1.1); 
  transition: 1s ; 
} 
.wont100 {
    background-color: rgba(226, 231, 231, 0.521);
    margin-left: 50px;
    margin-right: 50px;
    height: 160px;
    border-radius: 35px;
}
.wont100 h2 {
    margin-left: 430px;
    padding-top: 20px;
    
}
.wont50 {
    display: flex;
    font-size: 20px;
    
   
    
}
.wont1 {
    padding-left: 30px; 
    
}
.wont2 {
    padding-left: 30px;
}
.wont3 {
    padding-left: 30px;
}
.wont4 {
    padding-left: 30px;
}
.wont5 {
    padding-left: 30px;
}

.foot {
    display: flex;
    background-color:black;
    height: 100px;
    align-items: center;

}
.foot p {
    margin-left: 85px;
    color: white;
}
.contact {
    margin: 50px;
}
footer {
    margin-top: 30px;
}	
.bot {
  
    
   background-color: rgb(218, 17, 218);
   
}